{
  "presets": [
    [ "@babel/preset-env", { "loose": true }],
    "@babel/preset-react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "react-loadable/babel",
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-transform-runtime",
    // "@babel/proposal-class-properties"
    // "@babel/plugin-syntax-dynamic-import"
  ],
}
